<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{ page.title }} | adamrneary.com</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="noodp, noydir" />
		<meta name="description" content="Hi, I’m Adam Neary. I am the Founder/CEO of Profitably, and I live in NYC with my amazing wife, Deepa, and our son Arjun." />
		<meta name="author" content="Adam R Neary">

	    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

		<!-- styles -->
		<link rel="stylesheet" href="{{'assets/packaged_css_20120604.css' | cdn}}" type="text/css" />
		
		<link rel="shortcut icon" href="/images/headshot.jpg" />
		<link rel="alternate" type="application/rss+xml" title="adam r neary RSS Feed" href="http://feeds.feedburner.com/adamrneary/GeOR" />

		<script type="text/javascript">
		  var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-11362806-1']); _gaq.push(['_trackPageview']);
		  (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
		</script>
	</head>
	<body>
    <div class="exterior">
		<!-- Navbar
		  ================================================== -->

		<div class="container">
		  <div class='row'>
			<div class="span6 offset6">
		      	<ul class="nav nav-pills">
				  <li>
					<a href="/about.html" title="about adam">about adam</a>
				  </li>
				  <li>
					<a href="#moreinfo">more info »</a>
				  </li>
				  <li>
				  	<a href="http://feeds.feedburner.com/adamrneary/GeOR" title="adam r neary RSS Feed" rel="nofollow">Subscribe</a>
				  </li>
				</ul>
			</div>
		  </div>

	{{ content }}

	<p />

  </div> <!--exterior-->
	 <script src="{{'assets/packaged_js_20120604.js' | cdn}}"></script>
	</body>
</html>



