---
layout: outer
---

<div class="container">
	<div class="row">
		<div class="span12">
			
			<!-- Header
			  ================================================== -->		
		
			<h1 class="logo"><a href="/">adam r neary<br /></a>
				<small>just a blog. no big deal.</small>
			</h1>
			
			<hr class="soften">
		
			<!-- Content
			  ================================================== -->
		
			{{ content }}
			
			<!-- Footer
			  ================================================== -->

			<hr class="soften">
			<div class="footer">			
				<a name="moreinfo" id="moreinfo"></a>
				<div class="row">
					<div class="span3">
					<small>
						Adam R Neary<br />
						Founder &amp CEO of <a href="http://profitably.com/">Profitably</a><br />
						adam@neary.com
					</small>
					</div>
					<div class="span3">
					<small>
						<a href="http://www.linkedin.com/in/adamrneary/">linkedin.com/in/adamrneary</a><br />
						<a href="http://www.twitter.com/adamrneary/">twitter.com/adamrneary</a><br />
						<a href="http://adamrneary.tumblr.com/">adamrneary.tumblr.com</a><br />
					</small>
					</div>
					<div class="span6">
						<a class="pull-right" href="http://feeds.feedburner.com/adamrneary/GeOR"><img src="/images/rss_47.png" alt="Subscribe to RSS Feed" /></a>					
					</div>
				</div> <!--footer row 1-->

				<hr class="soften">

				<div class="row">
					<a class="pull-right" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" src="/images/creative_commons_88x31.png" /></a>
					<small>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.<br>
					Ideas expressed here are mine alone and do not represent Profitably, its investors, my beautiful wife, or any other institution.<br/>...or do they?</small>
				</div>
			</div> <!--footer-->

		</div> <!--span12-->
	</div><!--row-->
</div><!--container-->